<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppPathAsFirstArg</key>
	<true/>
	<key>Creator</key>
	<string>Platypus-4.4</string>
	<key>DropSuffixes</key>
	<array>
		<string>*</string>
	</array>
	<key>DropTypes</key>
	<array>
		<string>****</string>
		<string>fold</string>
	</array>
	<key>Droppable</key>
	<true/>
	<key>InterpreterParams</key>
	<array/>
	<key>OutputType</key>
	<string>Text Window</string>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<true/>
	<key>ScriptInterpreter</key>
	<string>/bin/sh</string>
	<key>Secure</key>
	<true/>
	<key>TextBackground</key>
	<string>#ffffff</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Monaco</string>
	<key>TextForeground</key>
	<string>#000000</string>
	<key>TextSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUICwxUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABogkKVSRudWxsTxE3zSMhL2Jpbi9zaAojCiMKIwojCiMKCgpXb3JrRGly
	MT0iL1N5c3RlbS9MaWJyYXJ5L0V4dGVuc2lvbnMiCldvcmtEaXIyPSIvRXh0cmEvRXh0
	ZW5zaW9ucyIKCk1rZXh0UGF0aD0iL1N5c3RlbS9MaWJyYXJ5L0V4dGVuc2lvbnMubWtl
	eHQiClNub3dMZW9Na2V4dD0iL1N5c3RlbS9MaWJyYXJ5L0NhY2hlcy9jb20uYXBwbGUu
	a2V4dC5jYWNoZXMvU3RhcnR1cC9FeHRlbnNpb25zLm1rZXh0IgoKTGVvQ2FjaGVGaWxl
	PSIvU3lzdGVtL0xpYnJhcnkvRXh0ZW5zaW9ucy5ta2V4dCIKU25vd0xlb0NhY2hlRmls
	ZT0iL1N5c3RlbS9MaWJyYXJ5L0NhY2hlcy9jb20uYXBwbGUua2V4dC5jYWNoZXMvU3Rh
	cnR1cC9FeHRlbnNpb25zLm1rZXh0IgpMaW9uQ2FjaGVGaWxlPSIvU3lzdGVtL0xpYnJh
	cnkvQ2FjaGVzL2NvbS5hcHBsZS5rZXh0LmNhY2hlcy9TdGFydHVwL2tlcm5lbGNhY2hl
	IgpTeXN0ZW1DYWNoZUZpbGU9IiIKU3lzdGVtTmFtZT0iIgoKS2Vybk9TUmVsZWFzZT1g
	c3lzY3RsIC1uIGtlcm4ub3NyZWxlYXNlIHwgY3V0IC1kICIuIiAtZjFgCgpGdWxsRHJv
	cE5hbWU9IiR7Mn0iCkRpckRyb3BOYW1lPSQoZGlybmFtZSAiJHtGdWxsRHJvcE5hbWV9
	IikKQmFzZURyb3BOYW1lPSQoYmFzZW5hbWUgIiR7RnVsbERyb3BOYW1lfSIpCkhvbWVE
	aXI9fgoKIyMjIFJlbGVhc2UtVHlwZSBWYXJpYWJsZXMgIyMjCgpQUk9HUkFNPSQoYmFz
	ZW5hbWUgIiQxIikKVmVyc2lvbj0iMi41LjBiIgpDcmVhdG9yPSJjVmFkIgpSZWxlYXNl
	ZD0iMjAwOC0yMDExIgoKbWVtb01TRygpIHsKCSMgUHJvZ3JhbW0gYXR0cmlidXRlcwpj
	YXQgPDwgRU9GCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC0tIEtleHQgVXRp
	bGl0eSAtLQogICAgICAgICAgICAgICAgICAgICAgICAgICAgICBNYWMgT1MgWCBMaW9u
	IHJlYWR5CiAgICAgICAgICAgICAgICAgICAgICAgICAgIHYkVmVyc2lvbiDCqSAkQ3Jl
	YXRvciAkUmVsZWFzZWQKICAgICAgICAgICAgICAgICAgICAgICAgICBLZXh0cyBwZXJt
	aXNzaW9ucyBSZXBhaXJlcgogICAgICAgICAgICAgICAgICAgICAgICAgICAgIE1rZXh0
	IFBhY2tlci9VblBhY2tlcgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIEtl
	eHRzIEluc3RhbGxlcgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICBjdmFkLW1h
	Yy5uYXJvZDIucnUKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIHd3dy5hcHBs
	ZWxpZmUucnUKCkVPRgp9CgpTeXN0ZW1TcGVjTVNHKCkgewoKI0Jsb2NrIHNob3cgc3lz
	dGVtIHNwZWNpZmljYXRpb25zCktFUk5fVmVyc2lvbj1gZWNobyAkKHN5c2N0bCAtbiBr
	ZXJuLnZlcnNpb24gfCBjdXQgLWQgIjsiIC1mMSlgCk1hY2hpbmVIYXJkd2FyZU5hbWU9
	YHVuYW1lIC1tYAoKTU9ERUxfSUQ9YHN5c2N0bCAtbiBody5tb2RlbGAKClByb2R1Y3RO
	YW1lPWBzd192ZXJzIHxncmVwIFByb2R1Y3ROYW1lYApQcm9kdWN0VmVyc2lvbj1gZWNo
	byAkKHN3X3ZlcnMgfGdyZXAgUHJvZHVjdFZlcnNpb24pYApCdWlsZFZlcnNpb249YGVj
	aG8gJChzd192ZXJzIHxncmVwIEJ1aWxkVmVyc2lvbilgCgpVc2VyPSRVU0VSCktFUk5f
	SG9zdG5hbWU9YHN5c2N0bCAtbiBrZXJuLmhvc3RuYW1lYApLRVJOX0Jvb3RhcmdzPWBz
	eXNjdGwgLW4ga2Vybi5ib290YXJnc2AKCkNQVV9UWVBFPSJgc3lzY3RsIC1uIG1hY2hk
	ZXAuY3B1LmJyYW5kX3N0cmluZyB8IHNlZCAncy8gICovIC9nJ2AiCkNQVV9GRUFUVVJF
	Uz0iYHN5c2N0bCAtbiBtYWNoZGVwLmNwdS5mZWF0dXJlc2AgYHN5c2N0bCAtbiBtYWNo
	ZGVwLmNwdS5leHRmZWF0dXJlc2AiCkNQVUZyZXF1ZW5jeV9NQVg9JCgoYHN5c2N0bCAt
	biBody5jcHVmcmVxdWVuY3lfbWF4YC8xMDAwMDAwKSkKQ1BVRnJlcXVlbmN5X01JTj0k
	KChgc3lzY3RsIC1uIGh3LmNwdWZyZXF1ZW5jeV9taW5gLzEwMDAwMDApKQpDUFVGcmVx
	dWVuY3k9JCgoYHN5c2N0bCAtbiBody5jcHVmcmVxdWVuY3lgLzEwMDAwMDApKQpCVVNG
	cmVxdWVuY3lGU0I9JCgoYHN5c2N0bCAtbiBody5idXNmcmVxdWVuY3lgLzEwMDAwMDAp
	KQpCVVNGcmVxdWVuY3k9JCgoJEJVU0ZyZXF1ZW5jeUZTQi80KSkKTVVMVElQTElFUl9N
	QVg9JChlY2hvICJzY2FsZT0xOyA0KiRDUFVGcmVxdWVuY3lfTUFYLyRCVVNGcmVxdWVu
	Y3lGU0IiIHwgYmMpCk1VTFRJUExJRVJfTUlOPSQoZWNobyAic2NhbGU9MTsgNCokQ1BV
	RnJlcXVlbmN5X01JTi8kQlVTRnJlcXVlbmN5RlNCIiB8IGJjKQpDYWNoZV9MMj0kKChg
	c3lzY3RsIC1uIG1hY2hkZXAuY3B1LmNhY2hlLnNpemVgLzEwMjQpKQpDUFVTaWduYXR1
	cmU9ImBzeXNjdGwgLW4gbWFjaGRlcC5jcHUuc2lnbmF0dXJlYCIKQ1BVU2lnbmF0dXJl
	SGV4PSQoZWNobyAib2Jhc2U9MTY7ICRDUFVTaWduYXR1cmUiIHwgYmMpCgpNRU1TSVpF
	PSQoKGBzeXNjdGwgLW4gaHcubWVtc2l6ZWAvMTA0ODU3NikpClN3YXBVc2FnZT0iYHN5
	c2N0bCAtbiB2bS5zd2FwdXNhZ2VgIgpIaWJlcm5hdGVNb2RlPSJgc3lzY3RsIC1uIGtl
	cm4uaGliZXJuYXRlbW9kZWAiCgpjYXQgPDwgRU9GClByb2R1Y3ROYW1lICA6IE1hYyBP
	UyBYICRQcm9kdWN0VmVyc2lvbiAkQnVpbGRWZXJzaW9uCkJvb3RhcmdzICAgICA6ICRL
	RVJOX0Jvb3RhcmdzCktlcm5lbCAgICAgICA6ICRLRVJOX1ZlcnNpb24KTW9kZWwgSUQg
	ICAgIDogJE1PREVMX0lEIEtlcm5lbE1vZGU6ICRNYWNoaW5lSGFyZHdhcmVOYW1lCkNQ
	VSBUWVBFICAgICA6ICR7Q1BVX1RZUEV9CkNvcmUgICAgICAgICA6ICR7Q1BVRnJlcXVl
	bmN5X01BWH1NSHogQnVzOiAke0JVU0ZyZXF1ZW5jeX1NSHogRlNCOiAke0JVU0ZyZXF1
	ZW5jeUZTQn1NSHoKQ1BVIElEICAgICAgIDogT3gkQ1BVU2lnbmF0dXJlSGV4ICgkQ1BV
	U2lnbmF0dXJlKSBDYWNoZSBMMjogJHtDYWNoZV9MMn1NYgpSQU0gICAgICAgICAgOiAk
	e01FTVNJWkV9TWIgSGliZXJuYXRlTW9kZTogJEhpYmVybmF0ZU1vZGUKU3dhcFVzYWdl
	ICAgIDogJFN3YXBVc2FnZQpVc2VyICAgICAgICAgOiAkVVNFUiBvbiAkS0VSTl9Ib3N0
	bmFtZQoKRU9GCgp9CgpTdGFydE1TRygpIHsKClRlc3RfVGltZT1gZWNobyAkKGRhdGUg
	IislWS0lbS0lZCAlSDolTTolUyAleiIpYAoKY2F0IDw8IEVPRgpTdGFydCB3b3JraW5n
	OiAkVGVzdF9UaW1lCkVPRgoKIyAgICAgICBMZW9wYXJkICAgICAgICAtICA5LAojICAg
	ICAgIFNub3cgIExlb3BhcmQgIC0gMTAsCiMgICAgICAgTGlvbiAgICAgICAgICAgLSAx
	MQoKY2FzZSAiJHtLZXJuT1NSZWxlYXNlfSIgaW4KICAgIFswLThdKQoJCWVjaG8gIkRl
	dGVjdGVkIC4uLiB1bnN1cHBvcnRlZCBNQUMgT1MgWCBzeXN0ZW0uIgogICAgICAgICAg
	ICAgICAgU3lzdGVtTmFtZT0idW5zdXBwb3J0ZWQgTUFDIE9TIFggc3lzdGVtIgogICAg
	ICAgIDs7CiAgICA5KQoJCWVjaG8gIkRldGVjdGVkICAuLi4gIE1BQyBPUyBYIFwiTGVv
	cGFyZFwiLiIKICAgICAgICAgICAgICAgIFN5c3RlbUNhY2hlRmlsZT0iJHtMZW9DYWNo
	ZUZpbGV9IgogICAgICAgICAgICAgICAgU3lzdGVtTmFtZT0iTUFDIE9TIFggXCJMZW9w
	YXJkXCIiCiAgICAgICAgOzsKICAgIDEwKQoJCWVjaG8gIkRldGVjdGVkICAuLi4gIE1B
	QyBPUyBYIFwiU25vdyBMZW9wYXJkXCIuIgogICAgICAgICAgICAgICAgU3lzdGVtQ2Fj
	aGVGaWxlPSIke1Nub3dMZW9DYWNoZUZpbGV9IgogICAgICAgICAgICAgICAgU3lzdGVt
	TmFtZT0iTUFDIE9TIFggXCJTbm93IExlb3BhcmRcIiIKICAgICAgICA7OwogICAgMTEp
	CgkJZWNobyAiRGV0ZWN0ZWQgIC4uLiAgTUFDIE9TIFggXCJMaW9uXCIuIgogICAgICAg
	ICAgICAgICAgU3lzdGVtQ2FjaGVGaWxlPSIke0xpb25DYWNoZUZpbGV9IgogICAgICAg
	ICAgICAgICAgU3lzdGVtTmFtZT0iTUFDIE9TIFggXCJMaW9uXCIiCiAgICAgICAgOzsK
	ICAgIFsxMi0yMF0pCgkJZWNobyAiRGV0ZWN0ZWQgIC4uLiAgTUFDIE9TIFggXCJVbmtu
	b3duXCIuIgogICAgICAgICAgICAgICAgIFN5c3RlbU5hbWU9Ik1BQyBPUyBYIFwiVW5r
	bm93blwiIgogICAgICAgIDs7CmVzYWMKCmVjaG8KfQoKRXJyTVNHKCkgewkKCgltZW1v
	TVNHCgl1c2FnZQp9Cgp1c2FnZSgpIHsKCSMgVXNhZ2UgZm9ybWF0CmNhdCA8PEVPRgog
	ICAgIFVzYWdlOiAKCiAgICAgMS4gRHJvcCBBTlkgZmlsZXMgd2l0aCB2YWxpZCBleHRl
	bnNpb24gKCoua2V4dDsgKi5wbHVnaW47ICouYnVuZGxlOwogICAgICAgICoucHBwKSBv
	biBhcHAgaWNvbi4KICAgICAgICBJdCB3aWxsIGJlIGluc3RhbGxlZCB0byAiL1N5c3Rl
	bS9MaWJyYXJ5L0V4dGVuc2lvbnMvIiBmb2xkZXIuCiAgICAgMi4gRm9yIFJlcGFpciBz
	eXN0ZW1zIGFuZCAiL0V4dHJhL0V4dGVuc2lvbnMiIGtleHRzIHBlcm1pc3Npb25zLAog
	ICAgICAgIHNpbXBseSBydW4gdGhlIGFwcCAuLi4KICAgICAzLiBGb3IgUmVwYWlyJlBh
	Y2sgQU5ZIGZvbGRlciB3aXRoIGtleHQgZmlsZXMgdG8gbWtleHQgZmlsZSwKICAgICAg
	ICBkcm9wIHRoaXMgZm9sZGVyIG9uIGFwcCBpY29uLgogICAgICAgIkV4dGVuc2lvbnMu
	bWtleHQiIGZpbGUgd2lsbCBiZSBwbGFjZWQgbmVhciAiRXh0ZW5zaW9ucyIgZm9sZGVy
	LgogICAgIDQuIEZvciBVblBhY2sgbWtleHQgZmlsZXMsIGRyb3AgbWtleHQgZmlsZSBv
	biBhcHAgaWNvbi4KICAgICAgICBGb2xkZXIgd2l0aCB5b3VyIHVucGFjayBrZXh0IGZp
	bGVzIHdpbGwgYmUgcGxhY2VkIG9uIHlvdXIgRGVza3RvcC4gIApFT0YKfQoKU2V0UGVy
	bWlzc2lvbnNNb2QoKQp7IAoKCUNvdW50RmlsZXM9MAoJQ291bnRLZXh0PTAKCUNvdW50
	UHBwPTAKCUNvdW50UGx1Z2luPTAKCUNvdW50QnVuZGxlPTAKCUNvdW50UGxpc3Q9MAoJ
	Q291bnRCaW49MAoJQWxsQ29kZUZpbGVzPTAKCkluRGlyPSQxCnByaW50ZiAiUmVwYWly
	IFBlcm1pc3Npb25zIGZvciBcIiR7SW5EaXJ9XCIgLi4uIgoKT2xkSUZTPSRJRlMgICAj
	IHNhdmUgb2xkICRJRlMKSUZTPSQnXG4nICAgICAjIG5ldyAkSUZTICAKCnN0YXJ0dGlt
	ZT1gZGF0ZSArJXNgCgogICAgZm9yIGZpbGVzIGluICQoZmluZCAiJHtJbkRpcn0iKQoJ
	ICAgIGRvCgkgICAgICAgIGNhc2UgIiR7ZmlsZXN9IiBpbgoJCQkJKi5rZXh0KSAgbGV0
	ICJDb3VudEtleHQrPTEiOyAgY2htb2QgNzU1ICIke2ZpbGVzfSI7OwoJCQkJKkNvZGVE
	aXJlY3Rvcnl8KkNvZGVSZXF1aXJlbWVudHN8KkNvZGVSZXNvdXJjZXN8KkNvZGVTaWdu
	YXR1cmV8Ki5wbGlzdHwqLnN0cmluZ3N8KlBrZ0luZm98Ki5pY25zfCoudGlmfCoudGlm
	ZikKCQkJCWlmIFtbIC1mICIke2ZpbGVzfSIgXV0gCiMgICAJCQkJSWYgZmlsZXMgKG5v
	dCBsaW5rKSBjaG1vZCA2NDQKCQkJCQl0aGVuIAoJCQkJCQljaG1vZCA2NDQgIiR7Zmls
	ZXN9IgojICAgCQkJCUlmIGZpbGVzIGlzIGxpbmsgY2htb2QgLWggNzU1CiAgICAgICAg
	ICAgICAgICAgICAgZWxzZQoJCQkJCQljaG1vZCAtaCA3NTUgIiR7ZmlsZXN9IgoJCQkJ
	ZmkKCQkJCWxldCAiQWxsQ29kZUZpbGVzKz0xIgoJCQkJOzsKCgkJCQkqKQoJCSAgICAg
	ICAgY2htb2QgLWggNzU1ICIke2ZpbGVzfSIgOzsKCgkJCWVzYWMKCgkJCWNob3duIC1o
	IHJvb3Q6d2hlZWwgIiR7ZmlsZXN9IgoKCSAgICAgICAgbGV0ICJDb3VudEZpbGVzKz0x
	IgoJCiAgICAgICAgICAgIGlmIFsgJCgoQ291bnRGaWxlcy80MDAqNDAwKSkgLWVxICR7
	Q291bnRGaWxlc30gXSAjIGNvdW50IHZlcnkgcXVpY2tseQoJCQkJdGhlbgoJCQkJCSBw
	cmludGYgIi4iCgkJCWZpCgogICAgCWRvbmUKCmZpbmlzaHRpbWU9YGRhdGUgKyVzYAoK
	SUZTPSRPbGRJRlMgICAjIHJldHVybiBvbGQgJElGUwoKcHJpbnRmICIgRG9uZS5cbiIK
	CiMgZWNobwplY2hvICItLSBUb3RhbCBwcm9jZXNzZWQ6ICR7Q291bnRGaWxlc30gZmls
	ZXMgKCR7Q291bnRLZXh0fSBrZXh0cykgZm9yICQoKCRmaW5pc2h0aW1lLSRzdGFydHRp
	bWUpKSBzZWMuIgoKZWNobwoKfQoKU3lzdGVtQ2FjaGVVcGRhdGUoKSB7CgojZWNobyAi
	U3lzdGVtQ2FjaGVVcGRhdGUoKSAtICR7U3lzdGVtQ2FjaGVGaWxlfSIKI2VjaG8gIlN5
	c3RlbUNhY2hlVXBkYXRlKCkgRGV0ZWN0ZWQgIC4uLiAgJHtTeXN0ZW1OYW1lfSIKCiAg
	ICBwcmludGYgIlVwZGF0aW5nIHN5c3RlbSBjYWNoZXMgJHtTeXN0ZW1OYW1lfSIKICAg
	ICAgICAKICAgIHJtIC1SZiAvU3lzdGVtL0xpYnJhcnkvQ2FjaGVzL2NvbS5hcHBsZS5i
	b290c3RhbXBzLyogMj4vZGV2L251bGwKICAgIHJtIC1SZiAvU3lzdGVtL0xpYnJhcnkv
	Q2FjaGVzL2NvbS5hcHBsZS5rZXJuZWxjYWNoZXMvKiAyPi9kZXYvbnVsbAogICAgcm0g
	LVJmIC9TeXN0ZW0vTGlicmFyeS9DYWNoZXMvY29tLmFwcGxlLmtleHQuY2FjaGVzL0Rp
	cmVjdG9yaWVzL1N5c3RlbS9MaWJyYXJ5L0V4dGVuc2lvbnMvKiAyPi9kZXYvbnVsbAog
	ICAgcm0gLVJmIC9TeXN0ZW0vTGlicmFyeS9DYWNoZXMvY29tLmFwcGxlLmtleHQuY2Fj
	aGVzL1N0YXJ0dXAvKiAyPi9kZXYvbnVsbAogICAgcm0gLVJmIC9TeXN0ZW0vTGlicmFy
	eS9FeHRlbnNpb25zL0NhY2hlcy8qIDI+L2Rldi9udWxsCiAgICBybSAtZiAiJHtTeXN0
	ZW1DYWNoZUZpbGV9IiAyPi9kZXYvbnVsbAogICAgICAgIAojIGZvciBMSU9OCiN0b3Vj
	aCAiJHtXb3JrRGlyMX0iCiNraWxsYWxsIC1IVVAga2V4dGQmCiNrZXh0Y2FjaGUgLXN5
	c3RlbS1jYWNoZXMmCiNrZXh0Y2FjaGUgLXVwZGF0ZS12b2x1bWUgLyAtZm9yY2UmCgp0
	b3VjaCAiJHtXb3JrRGlyMX0iCmtpbGxhbGwgLUhVUCBrZXh0ZCYKa2V4dGNhY2hlIC1z
	eXN0ZW0tY2FjaGVzIC1sb2NhbC1yb290JgprZXh0Y2FjaGUgLXN5c3RlbS1ta2V4dCAt
	bG9jYWwtcm9vdCYKCiNrZXh0Y2FjaGUgLXN5c3RlbS1wcmVsaW5rZWQta2VybmVsJgoK
	CiAgICBjb3VudD0wCgogICAgd2hpbGUgc2xlZXAgMQogICAgICAgIGRvCiAgICAgICAg
	ICAgIGlmIFsgLWYgIiR7U3lzdGVtQ2FjaGVGaWxlfSIgXQogICAgICAgICAgICAgICAg
	dGhlbgogICAgICAgICAgICAJCXByaW50ZiAiIERvbmVcbiIKICAgICAgICAJICAgICAg
	IAllY2hvICItLSBCdWlsZCB0aW1lID0gJHtjb3VudH1zZWMuIgogICAgICAgICAgICAg
	ICAgICAgIHJldHVybgogICAgICAgICAgICAgICAgZWxzZQogICAgICAgICAgICAgICAg
	ICAgIGlmIFsgIiRjb3VudCIgLWd0ICI1OSIgXQogICAgICAgICAgICAgICAgICAgICAg
	ICB0aGVuCiAgICAgICAgICAgICAgICAgICAgICAgICAgICBwcmludGYgIlRpbWVvdXQg
	JHtjb3VudH1zZWMuLi5cbiIKICAgICAgICAgICAgICAgICAgICAgICAgICAgIGVjaG8g
	Ii0tIERvbid0IFdvcnJ5IC0gbm90aGluZyBmYXRhbC4iCiAgICAgICAgICAgICAgICAg
	ICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgICAgICAgICBmaQogICAgICAgIAlm
	aQoKICAgICAgIAkJbGV0ICJjb3VudCs9MSIKCiAgICAgICAJCWlmIFsgYGV4cHIgIiRj
	b3VudCIgJSAyYCAtZXEgIjAiIF0KICAgICAgICAgICAgICAgIHRoZW4KICAgICAgICAg
	ICAgICAgICAgICBwcmludGYgIi4iCiAgICAgICAgICAgIGZpCgogICAgICAgIGRvbmUK
	fQoKcGFja01rZXh0KCkgewoKCQoJRnVsbERyb3BJbkRpcj0kMQoJRGlyRHJvcEluRGly
	PSQoZGlybmFtZSAiJHtGdWxsRHJvcEluRGlyfSIpIAoJQmFzZURyb3BJbkRpcj0kKGJh
	c2VuYW1lICIke0Z1bGxEcm9wSW5EaXJ9IikgCgkKaWYgW1sgYGZpbmQgIiR7RnVsbERy
	b3BJbkRpcn0iIC1uYW1lICoua2V4dGAgXV0KCiAgICB0aGVuCmNhdCA8PEVPRgpUYXNr
	OiBQYWNrICIke0Z1bGxEcm9wSW5EaXJ9IgogICAgICAgIHRvICIke0RpckRyb3BJbkRp
	cn0vRXh0ZW5zaW9ucy5ta2V4dCIKRU9GCgkJCiAgICAJZWNobwogICAgCQogICAgICAg
	IFNldFBlcm1pc3Npb25zTW9kICIke0Z1bGxEcm9wSW5EaXJ9IgoKICAgICAgICBpZiBb
	IC1lICIkRGlyRHJvcEluRGlyL0V4dGVuc2lvbnMubWtleHQiIF0KICAgICAgICAgICAg
	dGhlbgogICAgICAgICAgICAgICAgcHJpbnRmICJCYWNrVXAgXCJFeHRlbnNpb25zLm1r
	ZXh0XCIgdG8gXCJFeHRlbnNpb25zLmJhay5ta2V4dFwiIC4uLiAiCiAgICAgICAgICAg
	ICAgICBtdiAtZiAiJERpckRyb3BJbkRpci9FeHRlbnNpb25zLm1rZXh0IiAiJERpckRy
	b3BJbkRpci9FeHRlbnNpb25zLmJhay5ta2V4dCIKICAgICAgICAgICAgICAgIHByaW50
	ZiAiRG9uZS5cbiIKICAgICAgICAgICAgICAgIGVjaG8KICAgICAgICBmaQoJCiAgICAJ
	dG91Y2ggIiRGdWxsRHJvcEluRGlyIgogICAgCQogICAgCXN0YXJ0dGltZT1gZGF0ZSAr
	JXNgCgogICAgCWkzODZfcHBjX2tleHRzPSQoIGtleHRmaW5kIC0tICIke0Z1bGxEcm9w
	SW5EaXJ9IiBcKCAtYXJjaC1leGFjdCBpMzg2IC1vciAtYXJjaC1leGFjdCBwcGMsaTM4
	NiBcKSApIiIKICAgICAgICAKCQlpZiBbWyAiJHtTbm93TGVvRXhpc3R9IiA9ICJubyIg
	fHwgISAiIiA9ICIke2kzODZfcHBjX2tleHRzfSIgXV0KCiMJCQlJZiBvbmUgb2YgdGhl
	IGNvbmRpdGlvbnMgaXMgdHJ1ZSB0aGVuCQoJCQl0aGVuCgkJCQkJcHJpbnRmICJGb3Vu
	ZCBpMzg2IChhcmNoKSBvbmx5IGtleHQocykuXG4iCgkJCQkJcHJpbnRmICJQYWNraW5n
	IGkzODYgKGFyY2gpIFwiRXh0ZW5zaW9ucy5ta2V4dFwiIC4uLiAiCgkgICAgCQkJCgkg
	ICAgCQkJaWYgKCBrZXh0Y2FjaGUgLWEgaTM4NiAteiAtbSAiJERpckRyb3BJbkRpci9F
	eHRlbnNpb25zLm1rZXh0IiAiJEZ1bGxEcm9wSW5EaXIiICkgCgkgICAgCQkJCXRoZW4K
	CSAgICAJCQkJCXByaW50ZiAiRG9uZS5cbiIKCSAgICAJCQkJCWZpbmlzaHRpbWU9YGRh
	dGUgKyVzYAoJCSAgIAkgCQkJCWVjaG8gIi0tIEJ1aWxkIHRpbWUgPSAkKCgkZmluaXNo
	dGltZS0kc3RhcnR0aW1lKSkgc2VjLiIKCSAgICAJCQkJCWVjaG8KCSAgICAJCQkJCXBy
	aW50ZiAiUmVwYWlyIFwiRXh0ZW5zaW9ucy5ta2V4dFwiIHBlcm1pc3Npb24gLi4uICIK
	CSAgICAJCQkKCSAgICAJCQkJCWNobW9kIC1SIDY0NCAiJERpckRyb3BJbkRpci9FeHRl
	bnNpb25zLm1rZXh0IgoJICAgIAkJCQkJY2hvd24gLVIgcm9vdDp3aGVlbCAiJERpckRy
	b3BJbkRpci9FeHRlbnNpb25zLm1rZXh0IgoJICAgIAkJCQoJCSAgICAJCQkJcHJpbnRm
	ICJEb25lLlxuIgoJICAgIAkJCQkJZWNobwoJICAgIAkJCQllbHNlIAoJICAgIAkJCQkJ
	ZWNobwoJICAgIAkJCQkJZWNobyAiU29ycnksIGNvdWxkIG5vdCBjcmVhdGUgXCJFeHRl
	bnNpb25zLm1rZXh0XCIiCgkgICAgCQkJCQllY2hvCgkgICAgCQkJCQlyZXR1cm4KCQoJ
	ICAgIAkJCWZpCgkJCWVsc2UKIwkJCQkJcHJpbnRmICJGb3VuZCBpMzg2L3g4Nl82NCAo
	YXJjaCkga2V4dChzKS5cbiIKCQkJCQlwcmludGYgIlBhY2tpbmcgaTM4Ni94ODZfNjQg
	KGFyY2gpIFwiRXh0ZW5zaW9ucy5ta2V4dFwiIC4uLiAiCgojICAgICAgICAgICAgICAg
	ICAgIC91c3Ivc2Jpbi9rZXh0Y2FjaGUgLXogLW0gL0V4dHJhL0V4dGVuc2lvbnMubWtl
	eHQgL0V4dHJhL0V4dGVuc2lvbnMvCQkJCQkKCSAgICAJCQlpZiAoIGtleHRjYWNoZSAt
	eiAtbSAiJERpckRyb3BJbkRpci9FeHRlbnNpb25zLm1rZXh0IiAiJEZ1bGxEcm9wSW5E
	aXIiICkgCgkgICAgCQkJCXRoZW4KCSAgICAJCQkJCXByaW50ZiAiRG9uZS5cbiIKCSAg
	ICAJCQkJCWZpbmlzaHRpbWU9YGRhdGUgKyVzYAoJCSAgIAkgCQkJCWVjaG8gIi0tIEJ1
	aWxkIHRpbWUgPSAkKCgkZmluaXNodGltZS0kc3RhcnR0aW1lKSkgc2VjLiIKCSAgICAJ
	CQkJCWVjaG8KCSAgICAJCQkJCXByaW50ZiAiUmVwYWlyIFwiRXh0ZW5zaW9ucy5ta2V4
	dFwiIHBlcm1pc3Npb24gLi4uICIKCSAgICAJCQkKCSAgICAJCQkJCWNobW9kIC1SIDY0
	NCAiJERpckRyb3BJbkRpci9FeHRlbnNpb25zLm1rZXh0IgoJICAgIAkJCQkJY2hvd24g
	LVIgcm9vdDp3aGVlbCAiJERpckRyb3BJbkRpci9FeHRlbnNpb25zLm1rZXh0IgoJICAg
	IAkJCQoJCSAgICAJCQkJcHJpbnRmICJEb25lLlxuIgoJICAgIAkJCQkJZWNobwoJICAg
	IAkJCQllbHNlIAoJICAgIAkJCQkJZWNobwoJICAgIAkJCQkJZWNobyAiU29ycnksIGNv
	dWxkIG5vdCBjcmVhdGUgXCJFeHRlbnNpb25zLm1rZXh0XCIiCgkgICAgCQkJCQllY2hv
	CgkgICAgCQkJCQlyZXR1cm4KCSAgICAJCQlmaQoJCWZpCgllbHNlCgkJcHJpbnRmICJO
	b3RoaW5nIHRvIGRvIC0tIEtleHQgZmlsZXMgbm90IGZvdW5kLlxuIgoJCXByaW50ZiAi
	XG4iCmZpCn0gCgp1bnBhY2tNa2V4dCgpCXsKCmNhdCA8PEVPRgpUYXNrOiBVblBhY2sg
	IiR7RnVsbERyb3BOYW1lfSIKICAgICAgICAgIHRvICIke0hvbWVEaXJ9L0Rlc2t0b3Av
	JHtCYXNlRHJvcE5hbWV9X2NvbnRlbnQiCkVPRgoJZWNobwoKCXByaW50ZiAiU2VhcmNo
	IFwiJHtCYXNlRHJvcE5hbWV9X2NvbnRlbnRcIiAuLi4gIgoKCWlmIFsgLWQgIiR7SG9t
	ZURpcn0vRGVza3RvcC8ke0Jhc2VEcm9wTmFtZX1fY29udGVudCIgXQoJCXRoZW4KCQkJ
	cHJpbnRmICJGb3VuZC5cbiIKCQkJcm0gLXJmICIke0hvbWVEaXJ9L0Rlc2t0b3AvJHtC
	YXNlRHJvcE5hbWV9X2NvbnRlbnQuYmFrIgoJCQllY2hvCgkJCXByaW50ZiAiQmFja1Vw
	IFwiJHtCYXNlRHJvcE5hbWV9X2NvbnRlbnRcIiB0byBcIiR7QmFzZURyb3BOYW1lfV9j
	b250ZW50LmJha1wiIC4uLiAiCgkJCW12IC1mICIke0hvbWVEaXJ9L0Rlc2t0b3AvJHtC
	YXNlRHJvcE5hbWV9X2NvbnRlbnQvIiAiJHtIb21lRGlyfS9EZXNrdG9wLyR7QmFzZURy
	b3BOYW1lfV9jb250ZW50LmJhay8iIAoJCQlwcmludGYgIkRvbmUuXG4iCgkJCW1rZGly
	IC1wIC1tIDc3NSAiJHtIb21lRGlyfS9EZXNrdG9wLyR7QmFzZURyb3BOYW1lfV9jb250
	ZW50IgoJCQllY2hvCgkJZWxzZQoJCQlwcmludGYgIk5vdCBGb3VuZC5cbiIKCQkJZWNo
	bwoJCQlta2RpciAtcCAtbSA3NzUgIiR7SG9tZURpcn0vRGVza3RvcC8ke0Jhc2VEcm9w
	TmFtZX1fY29udGVudCIKCWZpCgkJCXByaW50ZiAiVW5QYWNraW5nIFwiJHtCYXNlRHJv
	cE5hbWV9XCIgLi4uICIKCglta2V4dHVucGFjayAtdiAtZCAiJHtIb21lRGlyfS9EZXNr
	dG9wLyR7QmFzZURyb3BOYW1lfV9jb250ZW50IiAiJEZ1bGxEcm9wTmFtZSIgMj4gL2Rl
	di9udWxsCglwcmludGYgIkRvbmUuXG4iCgllY2hvCgp9CgpJbnN0YWxsS2V4dCgpIHsK
	CglGdWxsRHJvcE5hbWU9JDEKCURpckRyb3BOYW1lPSQoZGlybmFtZSAiJHtGdWxsRHJv
	cE5hbWV9IikgCglCYXNlRHJvcE5hbWU9JChiYXNlbmFtZSAiJHtGdWxsRHJvcE5hbWV9
	IikKCURpckZpbGVzTmFtZT0iJHtXb3JrRGlyMX0iCgpLZXh0QXJjaD0kKGtleHRmaW5k
	IC1uby1wYXRocyAiJHtGdWxsRHJvcE5hbWV9IiAtcHJpbnQwIC1lY2hvIC1uICIgKGFy
	Y2hlcykgIiAtcGEpCgpjYXQgPDxFT0YKVGFzazogSW5zdGFsbCAiJHtLZXh0QXJjaH0i
	CiAgICAgICAgICAgdG8gIiR7V29ya0RpcjF9IgogICAgICAgICAKRU9GCgoJT2xkSUZT
	PSRJRlMgICAjIHNhdmUgb2xkICRJRlMKCUlGUz0kJ1xuJyAgICAgIyBuZXcgJElGUyAg
	CgogICAgZm9yIEZpbGVzIGluICQoZmluZCAiJHtXb3JrRGlyMX0iIC1uYW1lICIke0Jh
	c2VEcm9wTmFtZX0iKQoJICAgIGRvCgoJCURpckZpbGVzTmFtZT0kKGRpcm5hbWUgIiR7
	RmlsZXN9IikgCgkJcHJpbnRmICJGb3VuZCBleGlzdGluZyBcIiR7RmlsZXN9XCJcbiIK
	CQlwcmludGYgIlxuIgoKCQlpZiBbIC1lICIke0RpckZpbGVzTmFtZX0vJHtCYXNlRHJv
	cE5hbWV9LmJhayIgXQoJCQl0aGVuCgkJCQlybSAtcmYgIiR7RGlyRmlsZXNOYW1lfS8k
	e0Jhc2VEcm9wTmFtZX0uYmFrIgoJCWZpCgoJCXByaW50ZiAiQmFja1VwIDogXCIke0Jh
	c2VEcm9wTmFtZX1cIiB0byBcIiR7QmFzZURyb3BOYW1lfS5iYWtcIiAuLi4gIgoKCQlp
	ZiBtdiAtZiAiJHtEaXJGaWxlc05hbWV9LyR7QmFzZURyb3BOYW1lfSIgIiR7RGlyRmls
	ZXNOYW1lfS8ke0Jhc2VEcm9wTmFtZX0uYmFrIgoJCQl0aGVuCgkJCQlwcmludGYgIkRv
	bmUuXG4iCgkJCWVsc2UKCQkJCXByaW50ZiAiRXJyb3IuXG4iCgkJZmkKCQlwcmludGYg
	IlxuIgoKICAgICAgICBkb25lCgkKCUlGUz0kT2xkSUZTICAgIyByZXR1cm4gb2xkICRJ
	RlMKCnByaW50ZiAiSW5zdGFsbDogXCIke0Jhc2VEcm9wTmFtZX1cIiAuLi4gIgoKaWYg
	Y3AgLVJmICIke0Z1bGxEcm9wTmFtZX0iICIke0RpckZpbGVzTmFtZX0iCgl0aGVuCgkJ
	cHJpbnRmICJPSy5cbiIKCWVsc2UKCQlwcmludGYgIkNhbid0IGNvcHkgc291cmNlIGZp
	bGUuXG4iCgkJcmV0dXJuIDEKZmkJCQoKcHJpbnRmICJcbiIKClNldFBlcm1pc3Npb25z
	TW9kICIke0RpckZpbGVzTmFtZX0vJHtCYXNlRHJvcE5hbWV9IgojCnRvdWNoICIke0Rp
	ckZpbGVzTmFtZX0vJHtCYXNlRHJvcE5hbWV9IgoKfQoKc2F2ZUV4aXQoKSB7Cgpwcmlu
	dGYgIlN5bmNpbmcgZGlzayBjYWNoZSAuLi4gIgpzeW5jCnByaW50ZiAiRG9uZS5cbiIK
	fQoKZW5kUHJvZ3JhbSgpIHsKZWNobwplY2hvICJBbGwgZG9uZS4iCmVjaG8gIkhhdmUg
	YSBuaWNlIC4uLiBkYXkobmlnaHQpIgpwcmludGYgIkVuam95IC4uLlxuXGEiCmV4aXQK
	fQoKY2hlY2tGaWxlRXhpc3QoKSB7CgppZiBbWyAtZSAiJDEiIF1dCgl0aGVuCgllY2hv
	ICJcIiQxXCIgZXhpc3QiCgkJcmV0dXJuIDAKCWVsc2UKCWVjaG8gIlwiJDFcIiBub3Qg
	ZXhpc3QiCgkJcmV0dXJuIDEKZmkKfQoKbWFpbigpIHsKCmNhdCA8PEVPRgpUYXNrOiBG
	dWxsIHNlcnZpY2UgZm9yICIke1dvcmtEaXIxfSIKICAgICAgICAgICAgICAgICAgIGFu
	ZCAiJHtXb3JrRGlyMn0iIGZvbGRlcnMuCiAgICAgICAgIApFT0YKCiMgTXVzdCB3b3Jr
	IE9LIC0gbm90aGluZyBiYWQgd2l0aCBkaXIgY2hhbmdpbmcKU2V0UGVybWlzc2lvbnNN
	b2QgIiR7V29ya0RpcjF9IgoKIyBSZW1vdmUgc2xlZXBpbWFnZSBmaWxlCgppZiBbIC1m
	ICIvcHJpdmF0ZS92YXIvdm0vc2xlZXBpbWFnZSIgXQogICAgdGhlbgogICAgICAgIHBy
	aW50ZiAiUHJldmVudGl2ZSByZW1vdmFsIHNsZWVwaW1hZ2UgZmlsZSAuLi4gIgogICAg
	ICAgIHJtIC1yZiAiL3ByaXZhdGUvdmFyL3ZtL3NsZWVwaW1hZ2UiCiAgICAgICAgcHJp
	bnRmICJEb25lLlxuIgoJCWVjaG8KZmkKCgojIFdhaXRpbmcgc3lzdGVtIHJlYnVpbGQg
	a2V4dHMgY2FjaGUKClN5c3RlbUNhY2hlVXBkYXRlCgplY2hvCgpwcmludGYgIlNlYXJj
	aCBcIi9FeHRyYS9FeHRlbnNpb25zL1wiIGZvbGRlciAuLi4gIgojCmlmIFsgLWQgL0V4
	dHJhL0V4dGVuc2lvbnMgXQogICAgdGhlbgogICAgICAgIHByaW50ZiAiRm91bmQuXG4i
	CiMgICAgICAgIHBhY2tNa2V4dCAiJHtXb3JrRGlyMn0iCiAgICBlbHNlCiAgICAgICAg
	cHJpbnRmICJOb3QgRm91bmQuXG4iCiAgICAgICAgZWNobwpmaQoKfQoKIyMjIyMjIyMj
	IyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMKIyMjIyMjIFN0YXJ0
	IG1haW4gc2NyaXB0IGV4ZWN1dGlvbiByb3V0aW5lICMjIyMKIyMjIyMjIyMjIyMgc2Ny
	aXB0IGV4ZWN1dGlvbiByb3V0aW5lICMjIyMjIyMjIyMKIyMjIyMjIyMjIyMjIyMjIyMj
	IyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMKCiNlY2hvICIwPSQwIgojZWNobyAi
	MT0kMSIKI2VjaG8gIjI9JDIiCiNlY2hvICIzPSQzIgojZWNobyAiND0kNCIKCmlmIFsg
	LW4gIiR7RnVsbERyb3BOYW1lfSIgXQoJdGhlbgoKCQljYXNlICIke0Jhc2VEcm9wTmFt
	ZX0iIGluCgkJCSoubWtleHQpCgkJCQltZW1vTVNHCgkJCQlTeXN0ZW1TcGVjTVNHCgkJ
	CQlTdGFydE1TRwojCQkJCWVjaG8gIiR7QmFzZURyb3BOYW1lfSIKCQkJCXVucGFja01r
	ZXh0ICIke0Z1bGxEcm9wTmFtZX0iCgkJCQlzYXZlRXhpdAoJCQkJZW5kUHJvZ3JhbQoJ
	CQkJOzsKCgkJCSoua2V4dHwqLnBwcHwqLnBsdWdpbnwqLmJ1bmRsZSkKCQkJCW1lbW9N
	U0cKCQkJCVN5c3RlbVNwZWNNU0cKCQkJCVN0YXJ0TVNHCgkJCQlpPTIKCQkJCXdoaWxl
	IFsgJGkgLWxlICQjIF0KCQkJCWRvCgkJCQkJSW5zdGFsbEtleHQgICIkKGV2YWwgImVj
	aG8gXCR7JGl9IikiCgkJCQkJCQlpPWBleHByICRpICsgMWAKCQkJCWRvbmUKCQkJCVN5
	c3RlbUNhY2hlVXBkYXRlCgkJCQllY2hvCgkJCQlzYXZlRXhpdAoJCQkJZW5kUHJvZ3Jh
	bQoJCQkJOzsKCQoJCQkqKQogICAgICAgICAgICAJIyBpZiBmaWxlIGlzIGRpcmVjdG9y
	eSB0aGVuIHBhY2sgaXQKICAgICAgICAgICAgICAgIGlmIFsgLWQgIiRGdWxsRHJvcE5h
	bWUiIF0KICAgICAgICAgICAgICAgICAgICB0aGVuCgkJCQkgICAgICAgIG1lbW9NU0cK
	CQkJCSAgICAgICAgU3lzdGVtU3BlY01TRwoJCQkJCQlTdGFydE1TRwoJCQkJICAgICAg
	ICBwYWNrTWtleHQgIiR7RnVsbERyb3BOYW1lfSIKCQkJCSAgICAgICAgc2F2ZUV4aXQK
	CQkJCSAgICAgICAgZW5kUHJvZ3JhbQoJCQkJICAgIGVsc2UKICAgICAgICAJCQkJbWVt
	b01TRwogICAgICAgIAkJCQl1c2FnZQogICAgICAgIAkJCQlleGl0CiAgICAgICAgICAg
	ICAgICBmaQoJCWVzYWMKCmZpCgptZW1vTVNHClN5c3RlbVNwZWNNU0cKU3RhcnRNU0cK
	Cm1haW4KCnNhdmVFeGl0CmVuZFByb2dyYW0KEgABhqBfEA9OU0tleWVkQXJjaGl2ZXIA
	CAARABYAHwAoADIANQA6ADwAPwBFOBY4GwAAAAAAAAIBAAAAAAAAAA0AAAAAAAAAAAAA
	AAAAADgt
	</data>
	<key>TextSize</key>
	<real>10</real>
</dict>
</plist>
